#weather .wind .windSpeedBars {
    fill: none;
    stroke: navy;
    stroke-width: 4;
}
#weather .wind .windLabels {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 1.6em;
    fill: #CCCCCC;
    stroke: #CCCCCC;
    stroke-width: 1;
}
#weather .wind .arrow {
    stroke: black;
    stroke-width: 8;
}
#weather .wind .arrowHead {
    fill: black;
    stroke: white;
    stroke-width: 2;
}