#clock {
    background: black;
}
#hour {
    fill: white;
    stroke: black;
    stroke-width: 1
}
#minute {
    fill: white;
    stroke: black;
    stroke-width: 1
}
#second {
    fill: red;
    stroke: black;
    stroke-width: 1
}
.tick {
    fill: white;
    stroke: black;
    stroke-width: 0
}